/* eslint-disable */
@font-face {
  font-family: 'Raleway-Black';
  src: url('fonts/Raleway/Raleway-Black.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Raleway-Bold';
  src: url('fonts/Raleway/Raleway-Bold.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Raleway-Medium';
  src: url('fonts/Raleway/Raleway-Medium.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url('fonts/Raleway/Raleway-ExtraBold.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Outfit-Bold';
  src: url('fonts/OutFit/Outfit-Bold.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Outfit-ExtraBold';
  src: url('fonts/OutFit/Outfit-ExtraBold.ttf');
  font-display: swap;
}
